
<div class="col-md-12 content-page" ng-controller="topicoSelecionadoCtrl">
    <div class="col-md-12 blog-post">
        <script type="text/javascript">
onload=function(){
document.body.style.visibility="visible"
}
            var Topico = { Id:@ViewBag.TopicoId}

            localStorage.setItem('IdTopico', JSON.stringify(Topico.Id));

            var hash;

            if (window.location.hash) {
              hash = window.location.hash;
            };
            setTimeout(function () {

                    hash = hash.split("#");
                    var ultimo = hash[hash.length - 1];
                    document.getElementById(ultimo).focus();
                window.location.href = "#" + ultimo;
                    document.getElementById(ultimo).style.background="#B0E0E6";


            },
                3000
            );


        </script>



        <div class="well well-sm" style="background-color: #d7ffef">
            <div class="btn-group dropright" ng-if="TopicosSelc.Status.Id != 4">
                @if (@User.Identity.IsAuthenticated)
                {
                    <button type="button" class="close" data-toggle="dropdown" aria-label="Close" style="margin-top: -6px;margin-right: 0px;">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
                }
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="" data-toggle="modal" data-target="#ModalDenuncia{{TopicosSelc.usuario.Id}}{{TopicosSelc.Id}}">Denunciar</a></li>
                    <li ng-if="TopicosSelc.usuario.Id == usuario.Id"><a href="" data-toggle="modal" data-target="#InativarTopicoUsuario{{topico.usuario.Id}}{{topico.Id}}">Excluir</a></li>


                    @if (@User.IsInRole("Moderador") || @User.IsInRole("Master"))
                    {
                        <li role="separator" class="divider"></li>
                        <li><a href="" data-toggle="modal" data-target="#ModalRemove{{TopicosSelc.usuario.Id}}{{TopicosSelc.Id}}">Remover topico</a></li>
                    }
                </ul>

                <div class="modal fade" id="InativarTopicoUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Excluir Topico</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Tem certeza que deseja excluir o topico ?
                                <br>
                                Não será possível reverter essa ação.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="ExcluirTopicoUsuario(TopicosSelc)">Excluir</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-controller="denunciaController">

                    <div class="modal fade" id="ModalDenuncia{{TopicosSelc.usuario.Id}}{{TopicosSelc.Id}}" " tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body text-center mb-1">
                                    <label data-error="wrong" data-success="right" for="form29" class="ml-0">O que esta acontencendo?</label>
                                </div>
                                <div class="modal-body">
                                    <!-- FORM -->
                                    <form name="userForm" novalidate>

                                        <!-- USERNAME -->
                                        <div class="form-group">
                                            <div class="media-body ">
                                                <h4 class="media-heading ">
                                                    <a href="../Usuario/PerfilUsuario?usuarioid={{TopicosSelc.usuario.Id}}">{{TopicosSelc.usuario.Nome}}</a>
                                                    <small> {{TopicosSelc.DataCria}}</small>
                                                </h4>
                                                <p>{{TopicosSelc.Descricao}}</p>
                                                <br>
                                                <a href="~/Upload/{{TopicosSelc.Anexos.Caminho}}">{{TopicosSelc.Anexos.Caminho}}</a>

                                            </div>

                                            <div class="media-right btn" data-toggle="modal" data-target="#modalLoginAvatar">
                                                <img src="~/Upload/{{TopicosSelc.usuario.UploadArquivo.Caminho}}" class="media-object" style="width:60px">
                                            </div>
                                        </div>

                                        <!-- USERNAME -->
                                        <div class="form-group" ng-class="{ 'has-error' : userForm.titulo.$invalid && !userForm.titulo.$pristine }">
                                            <textarea type="text" name="mensagem" class="form-control" ng-model="denuncia" ng-minlength="15" ng-maxlength="300" required></textarea>
                                            <p ng-show="userForm.denuncia.$error.minlength" class="help-block">A denuncia deve ter no mínimo 15 caracteres.</p>
                                            <p ng-show="userForm.denuncia.$error.maxlength" class="help-block">A denuncia deve ter no máximo 300 caracteres.</p>
                                        </div>

                                        <button type="button" data-dismiss="modal" data-toggle="modal" ng-disabled="userForm.$invalid" ng-click="DenunciaUsuario(TopicosSelc)" class="btn btn-primary">Enviar notificação</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

                                    </form>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="ModalRemove{{TopicosSelc.usuario.Id}}{{TopicosSelc.Id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body text-center mb-1">
                                    <label data-error="wrong" data-success="right" for="form29" class="ml-0">Motivo..</label>
                                </div>
                                <div class="modal-body">
                                    <!-- FORM -->
                                    <form name="userForm" novalidate>

                                        <!-- USERNAME -->
                                        <div class="form-group">
                                            <div class="media-body ">
                                                <h4 class="media-heading ">
                                                    <a href="../Usuario/PerfilUsuario?usuarioid={{TopicosSelc.usuario.Id}}">{{TopicosSelc.usuario.Nome}}</a>
                                                    <small> {{TopicosSelc.DataCria}}</small>
                                                </h4>
                                                <p>{{TopicosSelc.Descricao}}</p>
                                                <br>
                                                <a href="~/Upload/{{TopicosSelc.Anexos.Caminho}}">{{TopicosSelc.Anexos.Caminho}}</a>

                                            </div>

                                            <div class="media-right btn" data-toggle="modal" data-target="#modalLoginAvatar">
                                                <img src="~/Upload/{{TopicosSelc.usuario.UploadArquivo.Caminho}}" class="media-object" style="width:60px">
                                            </div>
                                        </div>

                                        <!-- USERNAME -->
                                        <div class="form-group" ng-class="{ 'has-error' : userForm.titulo.$invalid && !userForm.titulo.$pristine }">
                                            <textarea type="text" name="mensagem" class="form-control" ng-model="respostaRemove" ng-minlength="15" ng-maxlength="300"></textarea>
                                            <p ng-show="userForm.denuncia.$error.minlength" class="help-block">A denuncia deve ter no mínimo 15 caracteres.</p>
                                            <p ng-show="userForm.denuncia.$error.maxlength" class="help-block">A denuncia deve ter no máximo 300 caracteres.</p>
                                        </div>

                                        <button type="button" data-dismiss="modal" data-toggle="modal" ng-disabled="userForm.$invalid" ng-click="RemoverResposta(TopicosSelc)" class="btn btn-primary">Remover Resposta</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

                                    </form>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="post-title">
                <h1>{{TopicosSelc.Titulo}}</h1>
            </div>
            <div class="media">
                <div class="media-left">
                    <img src="~/Upload/{{TopicosSelc.usuario.UploadArquivo.Caminho}}" class="media-object" style="width: 60px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="../Usuario/PerfilUsuario?usuarioid={{TopicosSelc.usuario.Id}}" target="_blank"> {{TopicosSelc.usuario.Nome}} </a><small>{{TopicosSelc.DataCria}}</small><small><button class="btn" ng-click="topicodeTexto(TopicosSelc.Id)" ng-show="(TopicosSelc.Descricao.length>50)">Leia mais...</button></small></h4>

                    <p ng-class="TopicosSelc.Id==itemSelecionado ? 'textoaparecer':'text-nowrap bd-highlight'">{{TopicosSelc.Descricao}}</p>
                    <div ng-if="(TopicosSelc.usuario.Id!==usuario.Id)">
                        <div ng-if="(usuID>0)">

                            <div ng-controller="avaliacao.controller">

                                <span class="badge label-danger label-danger animate-show-hide" ng-model="TopicosSelc.avaliacao.contarDeslike">{{TopicosSelc.avaliacao.contarDeslike}}</span>

                                <button ng-model="TopicosSelc.avaliacao.pontos" ng-click="valorpegoDeslike(TopicosSelc,usuario)"><i class="far fa-thumbs-down padrao-curti color-6" ng-class="{'fas':TopicosSelc.avaliacao.pontos===-1}"></i></button>

                                <button ng-model="TopicosSelc.avaliacao.pontos" ng-click="valorpegoLike(TopicosSelc,usuario)"><i class="far fa-thumbs-up  padrao-curti color-6" ng-class="{'fas':TopicosSelc.avaliacao.pontos===1}"></i></button>
                                <span class="badge label-success label-success animate-show-hide" ng-model="TopicosSelc.avaliacao.contarLike">{{TopicosSelc.avaliacao.contarLike}}</span>


                                <input type="hidden" ng-model="idAvaliacaoLike" value="{{idAvaliacaoLike}}" />
                            </div>
                        </div>


                    </div>

                </div>
            </div>

            @if (@User.Identity.IsAuthenticated)
            {
                @*<button type="button" class="btn btn-danger right" data-toggle="modal" data-target="#ModalDenuncia">
                        Algo Errado?
                    </button>*@
            }
        </div>








        <div ng-repeat="topico in TopicosSelc.Resposta">

            <div class="well well-sm" id="{{topico.Id}}">

                <div class="btn-group dropright" ng-if="topico.Status.Id!= 4">
                    @if (@User.Identity.IsAuthenticated)
                    {
                        <button type="button" class="close" data-toggle="dropdown" aria-label="Close" style="margin-top: -6px;margin-right: 0px;">
                            <span aria-hidden="true" class="white-text">×</span>
                        </button>
                    }
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="" data-toggle="modal" data-target="#ModalDenuncia{{topico.usuario.Id}}{{topico.Id}}">Denunciar</a></li>


                        @if (@User.IsInRole("Moderador") || @User.IsInRole("Master"))
                        {
                            <li role="separator" class="divider"></li>
                            <li><a href="" data-toggle="modal" data-target="#ModalRemove{{topico.usuario.Id}}{{topico.Id}}">Remover Resposta</a></li>
                        }
                    </ul>

                    <div ng-controller="denunciaController">

                        <div class="modal fade" id="ModalDenuncia{{topico.usuario.Id}}{{topico.Id}}" " tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body text-center mb-1">
                                        <label data-error="wrong" data-success="right" for="form29" class="ml-0">O que esta acontencendo?</label>
                                    </div>
                                    <div class="modal-body">
                                        <!-- FORM -->
                                        <form name="userForm" novalidate>

                                            <!-- USERNAME -->
                                            <div class="form-group">
                                                <div class="media-body ">
                                                    <h4 class="media-heading ">
                                                        <a href="../Usuario/PerfilUsuario?usuarioid={{topico.usuario.Id}}">{{topico.usuario.Nome}}</a>
                                                        <small> {{topico.DataCria}}</small>
                                                    </h4>
                                                    <p>{{topico.Descricao}}</p>
                                                    <br>
                                                    <a href="~/Upload/{{topico.Anexos.Caminho}}">{{topico.Anexos.Caminho}}</a>

                                                </div>

                                                <div class="media-right btn" data-toggle="modal" data-target="#modalLoginAvatar">
                                                    <img src="~/Upload/{{topico.usuario.UploadArquivo.Caminho}}" class="media-object" style="width:60px">
                                                </div>
                                            </div>

                                            <!-- USERNAME -->
                                            <div class="form-group" ng-class="{ 'has-error' : userForm.titulo.$invalid && !userForm.titulo.$pristine }">
                                                <textarea type="text" name="mensagem" class="form-control areaResposta" ng-model="denuncia" ng-minlength="15" ng-maxlength="300"></textarea>
                                                <p ng-show="userForm.denuncia.$error.minlength" class="help-block">A denuncia deve ter no mínimo 15 caracteres.</p>
                                                <p ng-show="userForm.denuncia.$error.maxlength" class="help-block">A denuncia deve ter no máximo 300 caracteres.</p>
                                            </div>

                                            <button type="button" data-dismiss="modal" data-toggle="modal" ng-disabled="userForm.$invalid" ng-click="DenunciaUsuario(topico)" class="btn btn-primary">Enviar notificação</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

                                        </form>
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="ModalRemove{{topico.usuario.Id}}{{topico.Id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body text-center mb-1">
                                        <label data-error="wrong" data-success="right" for="form29" class="ml-0">Motivo..</label>
                                    </div>
                                    <div class="modal-body">
                                        <!-- FORM -->
                                        <form name="userForm" novalidate>

                                            <!-- USERNAME -->
                                            <div class="form-group">
                                                <div class="media-body ">
                                                    <h4 class="media-heading ">
                                                        <a href="../Usuario/PerfilUsuario?usuarioid={{topico.usuario.Id}}">{{topico.usuario.Nome}}</a>
                                                        <small> {{topico.DataCria}}</small>
                                                    </h4>
                                                    <p>{{topico.Descricao}}</p>
                                                    <br>
                                                    <a href="~/Upload/{{topico.Anexos.Caminho}}">{{topico.Anexos.Caminho}}</a>

                                                </div>

                                                <div class="media-right btn" data-toggle="modal" data-target="#modalLoginAvatar">
                                                    <img src="~/Upload/{{topico.usuario.UploadArquivo.Caminho}}" class="media-object" style="width:60px">
                                                </div>
                                            </div>

                                            <!-- USERNAME -->
                                            <div class="form-group" ng-class="{ 'has-error' : userForm.titulo.$invalid && !userForm.titulo.$pristine }">
                                                <textarea type="text" name="mensagem" class="form-control" ng-model="respostaRemove" ng-minlength="15" ng-maxlength="300"></textarea>
                                                <p ng-show="userForm.denuncia.$error.minlength" class="help-block">A denuncia deve ter no mínimo 15 caracteres.</p>
                                                <p ng-show="userForm.denuncia.$error.maxlength" class="help-block">A denuncia deve ter no máximo 300 caracteres.</p>
                                            </div>

                                            <button type="button" data-dismiss="modal" data-toggle="modal" ng-disabled="userForm.$invalid" ng-click="RemoverResposta(topico)" class="btn btn-primary">Remover Resposta</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

                                        </form>
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="media">
                    <div class="media-body ">

                        <div ng-if="topico.Status.Id == 4">
                            <h4 class="media-heading "><a href="../Usuario/PerfilUsuario?usuarioid={{topico.usuario.Id}}" target="_blank">{{topico.usuario.Nome}} </a><small> {{topico.DataCria }}<button class="btn" ng-click="topicodeTexto($index)" ng-show="(topico.Descricao.length>50)">Leia mais...</button></small></h4>
                            <p ng-class="$index==itemSelecionado ? 'textoaparecer':'text-nowrap bd-highlight'">Resposta removida por não cumprir as regras do forum</p>
                            <a href="~/Upload/{{topico.Anexos.Caminho}}">{{topico.Anexos.Caminho}}</a>

                        </div>
                        <div ng-if="topico.Status.Id!= 4">
                            <h4 class="media-heading "><a href="../Usuario/PerfilUsuario?usuarioid={{topico.usuario.Id}}" target="_blank">{{topico.usuario.Nome}} </a><small> {{topico.DataCria }}<button class="btn" ng-click="topicodeTexto($index)" ng-show="(topico.Descricao.length>50)">Leia mais...</button></small></h4>
                            <p ng-class="$index==itemSelecionado ? 'textoaparecer':'text-nowrap bd-highlight'">{{topico.Descricao}}</p>
                            <a href="~/Upload/{{topico.Anexos.Caminho}}">{{topico.Anexos.Caminho}}</a>
                        </div>

                    </div>

                    <div class="media-right btn" data-toggle="modal" data-target="#modalLoginAvatar{{topico.usuario.Id}}">
                        <img src="~/Upload/{{topico.usuario.UploadArquivo.Caminho}}" class="media-object" style="width:60px">
                    </div>
                    <div ng-if="(topico.usuario.Id!== usuario.Id && topico.Status.Id!= 4 )">
                        <div ng-if="(TopicosSelc.Status.Id ==1)">
                            <div ng-if="(usuID>0)">

                                <div ng-controller="avaliacao.controller">

                                    <div uib-tooltip="{{dicas}}" tooltip-placement="bottom-left">

                                        <jk-rating-stars max-rating="5" style="user-select: none;" rating="ctrl.rating" ng-init="ctrl.rating = topico.avaliacao.pontos" read-only="(ctrl.rating>0)" ng-class="{'classebloqueio': ctrl.readOnly }" ng-click="valorClick(ctrl.rating,topico,usuario,TopicosSelc)">

                                        </jk-rating-stars>


                                        <div class="row">
                                            <div class="col-md-12">

                                                <input type="hidden" ng-init="nota=topico.avaliacao.pontos" />
                                                <span class="color-6 animate-if" ng-if="nota>0">Sua Nota é {{nota}}.</span>
                                                <input type="hidden" ng-model="idAvaliacao" value="{{idAvaliacao}}" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>

                </div>
            </div>


            <!--Modal Adiciona Usuario-->

            <div class="modal fade" id="modalLoginAvatar{{topico.usuario.Id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
                    <!--Content-->
                    <div class="modal-content">

                        <!--Header-->
                        <div class="modal-header" style="text-align: -webkit-center">
                            <img src="~/Upload/{{topico.usuario.UploadArquivo.Caminho}}" class="media-object" style="width:150px" alt="avatar">
                        </div>
                        <!--Body-->
                        <div class="modal-body text-center mb-1">

                            <h5 class="mt-1 mb-2"><a href="../Usuario/PerfilUsuario?usuarioid={{topico.usuario.Id}}" target="_blank">{{topico.usuario.Nome}} </a></h5>

                            <div class="md-form ml-0 mr-0">
                                <label data-error="wrong" data-success="right" for="form29" class="ml-0">Você gostaria de formar uma amizade?</label>
                            </div>
                            <br />
                            <div class="text-center mt-4">
                                <a type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">
                                    Enviar Solicitação
                                    <i class="fa fa-paper-plane ml-1"></i>
                                </a>
                                <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancelar</a>
                            </div>
                        </div>

                    </div>
                    <!--/.Content-->
                </div>
            </div>

        </div>

        @if (@User.Identity.IsAuthenticated)
        {
            <div class="subscribe-form margin-top-20">
                <div ng-if="(TopicosSelc.Status.Id ==1)">

                    <form class="form-horizontal" name="resposta">

                        <div class="row fileupload-buttonbar">
                            <div class="form-group">
                                <label for="arquvios" class="col-md-2 control-label">Anexos</label>
                                <div class="col-md-10">
                                    <input type="file" name="arquvios" class="form-control" data-ak-file-model="areaResposta.Anexos.ArquivoBase" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <textarea class="form-control areaResposta" ng-model="areaResposta.Descricao" rows="10" cols="60"  required></textarea>
                        </div>
                        <button class="btn btn-primary comentariobotao" type="submit" ng-click="novoPost(areaResposta)" ng-disabled="resposta.$invalid">
                            <i class="fas fa-comment fa-2x"></i>
                        </button>
                    </form>

                </div>
            </div>
        }
    </div>

    <div ng-controller="denunciaController">
        <div class="modal fade" id="ModalDenuncia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center mb-1">
                        <label data-error="wrong" data-success="right" for="form29" class="ml-0">O que esta acontencendo?</label>
                    </div>
                    <div class="modal-body">
                        <!-- FORM -->
                        <form name="userForm" novalidate>

                            <!-- USERNAME -->
                            <div class="form-group" ng-class="{ 'has-error' : userForm.titulo.$invalid && !userForm.titulo.$pristine }">
                                <textarea type="text" name="mensagem" class="form-control areaResposta"  ng-model="denuncia" ng-minlength="15" ng-maxlength="300"></textarea>
                                <p ng-show="userForm.denuncia.$error.minlength" class="help-block">A denuncia deve ter no mínimo 15 caracteres.</p>
                                <p ng-show="userForm.denuncia.$error.maxlength" class="help-block">A denuncia deve ter no máximo 300 caracteres.</p>
                            </div>

                            <button type="button" data-dismiss="modal" data-toggle="modal" ng-disabled="userForm.$invalid" ng-click="DenunciaUsuario(TopicosSelc)" class="btn btn-primary">Enviar notificação</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

                        </form>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>