@using System.Web.Optimization
@using System.Web.UI.WebControls

<!DOCTYPE html>
<html lang="en">
@Html.Raw(TempData["msg"])
@Html.Raw(TempData["result"])
@Html.Raw(TempData["erroLogin"])
@Html.Raw(TempData["RetornoTema"])


<head>

    <title>MeHelp - Solução para sua duvida</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/Content/images/icons/Icone Me Help.ico">
    <!-- All CSS Plugins -->
    @Styles.Render("~/bundles/css")
    @* <link rel="stylesheet" href="~/Content/css/jquery-ui-demo.css">*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    <meta name="description" content="File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery UI styles -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/jquery-ui.css" integrity="sha384-ufZtQaOYGuy/CibAC5jmelOpBu3H78Js7HrXSLo4LGccHUrGGHXt+uaTcDbio3kI" crossorigin="anonymous">
    <!-- Generic page styles -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- Demo styles -->
    <link rel="stylesheet" href="~/Content/css/jquery-ui-demo.css">
    <!--===============================================================================================-->
    @* <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">*@
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <link href="~/Content/css/jk-rating-stars.css" rel="stylesheet" />
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="~/Content/css/jquery.fileupload.css">
    <link rel="stylesheet" href="~/Content/css/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="~/Content/css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="~/Content/css/jquery.fileupload-ui-noscript.css"></noscript>

    <!--===============================================================================================-->
    <!-- Google Web Fonts  -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- HTML5 shiv and Respond.js support IE8 or Older for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body ng-app="MeHelp">



    <!-- Preloader Start -->
    <div class="preloader">
        <div class="rounder"></div>
    </div>
    <!-- Preloader End -->

    <div id="main">
        <div class="container-fluid">
            <div class="row">

                <!-- About Me (Left Sidebar) Start -->
                <div class="col-md-3">
                    <div class="about-fixed" ng-controller="loginCtrl">

                        @if (@User.Identity.IsAuthenticated)
                        {

                            <div class="my-pic">

                                <img id="imgUser" height="229" width="270">

                                <a href="javascript:void(0)" class="collapsed" data-target="#menu" data-toggle="collapse"><i class="icon-menu menu"></i></a>
                                <div id="menu" class="collapse">
                                    <ul class="menu-link">
                                        <li>@Html.ActionLink("Editar Perfil", "EditarUsuario", "Usuario")</li>
                                        <li>@Html.ActionLink("Gerenciamento de Usuarios", "Index", "Usuario")</li>
                                        <li>@Html.ActionLink("Tema", "Index", "Tema")</li>
                                        <li>@Html.ActionLink("Rankeamento Usuario", "Ranking", "Topico")</li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><button onclick="" ng-click="logoutUsuario()" id="btnLogOut">LogOut</button></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="my-detail">
                                <div class="white-spacing">
                                    <h1 id="NomeUsuario"></h1>
                                    <span id="AuthUsuario"></span>
                                </div>
                            </div>

                        }

                        @if (!@User.Identity.IsAuthenticated)
                        {

                            <form class="login100-form validate-form flex-sb flex-w">
                                <span id="resposta" class="alert alert-danger fade in">

                                </span>
                                <br />
                                <br />
                                <span class="login100-form-title p-b-51">
                                    Login
                                </span>


                                <br />
                                <br />
                                <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                                    <input type="text" id="txtLogin" ng-model="login" class="input100">
                                    <span class="focus-input100"></span>
                                </div>
                                <br />
                                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                                    <input type="password" id="txtSenha" ng-model="senha" class="input100" />
                                    <span class="focus-input100"></span>
                                </div>
                                <br />
                                <div class="flex-sb-m w-full p-t-3 p-b-24">
                                    <div class="contact100-form-checkbox">
                                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                        <label class="label-checkbox100" for="ckb1">
                                            Lembrar - me
                                        </label>
                                    </div>

                                    <div>
                                        <a href="#" class="txt1">
                                            Esqueceu - se?
                                        </a>
                                    </div>
                                </div>

                                <div class="container-login100-form-btn m-t-17">
                                    <div class="col-md-6">
                                        <button onclick="" ng-click="loginUsuario()" class="login100-form-btn">
                                            Login
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="login100-form-btn" data-toggle="modal" data-target=".AdicionarUsuario">Registrar</button>
                                    </div>
                                </div>
                            </form>


                        }

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="col-md-12 page-body">

                        @RenderBody()

                    </div>

                    <!-- Footer Start -->

                    <div class="col-md-12 page-body margin-top-50 footer">
                        <footer>
                            <ul class="menu-link">
                                <li><a href="~/Home/Index"><i class="fas fa-home fa-2x"></i></a></li>

                            </ul>

                            <p>© Copyright 2016 DevBlog. All rights reserved</p>


                            <!-- UiPasta Credit Start -->
                            <div class="uipasta-credit">Design By <a href="http://www.uipasta.com" target="_blank">UiPasta</a></div>
                            <!-- UiPasta Credit End -->

                        </footer>
                    </div>

                </div>
                <div class="col-md-1"></div>
            </div>
        </div>

        @* Modal cadastro de usuario*@
        <div class="modal fade AdicionarUsuario" role="dialog" ng-controller="usuarioCtrl">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-info">Registro Usuario</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="AdiconarUsuarioForm">
                            <div>
                                <input class="form-control" readonly="readonly" name="Id" type="hidden" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" ng-model="nome" name="Nome" placeholder="Nome" required />
                                <span ng-class="error" ng-show="AdiconarUsuarioForm.Nome.$error.required">Nome é obrigatório</span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" ng-model="email" name="Email" placeholder="Email" required />
                                <span ng-class="error" ng-show="AdiconarUsuarioForm.Email.$error.required">Email é obrigatório</span>
                                <span ng-class="error" ng-show="AdiconarUsuarioForm.Email.$error.email"> Formato do e-mail é inválido</span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" ng-model="login" name="Login" placeholder="Login" required />
                                <span ng-class="error" ng-show="AdiconarUsuarioForm.Login.$error.required">Login é obrigatório</span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" ng-model="senha" name="Senha" placeholder="Senha" required />
                                <span ng-class="error" ng-show="AdiconarUsuarioForm.Senha.$error.required">Senha é obrigatório</span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="date" ng-model="dataNasci" name="DataNasci" placeholder="DataNasci" required />
                                <span ng-class="error" ng-show="AdiconarUsuarioForm.DataNasci.$error.required">DataNasci é obrigatório</span>
                            </div>
                            <div class="form-group">
                                <select ng-model="cmbGenero"
                                        ng-options="c.Id as c.Sexo for c in Genero">
                                    <option value="" selected="selected" disabled="disabled"> {{Id || 'Sexo'}} </option>
                                </select>
                                <span ng-class="error" ng-show="AdiconarUsuarioForm.cmbGenero.$error.required">Genero é obrigatório</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Arquivo
                                </label>
                                <div class="col-md-6">
                                    <input type="file" accept="image/*" class="form-control" id="UploadImg" />
                                </div>
                                <div class="col-md-4">
                                    <img id="imgPreview" height="100" width="100" />
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" ng-model="rgm" name="RGM" placeholder="RGM" />
                                <span ng-class="error" ng-show="AdiconarUsuarioForm.RGM.$error.required">RGM é obrigatório</span>
                            </div>

                            <div class="form-group">
                                <select ng-model="cmbCurso"
                                        ng-change="carregarSemestre(cmbCurso)"
                                        ng-options="c.Id as c['curso' + Lang] for c in Curso">
                                    <option value="" selected="selected" disabled="disabled"> {{Id || 'Curso'}} </option>
                                </select>
                                <span ng-class="error" ng-show="AdiconarUsuarioForm.cmbCurso.$error.required">Curso é obrigatório</span>
                            </div>

                            <div class="form-group">
                                <select ng-model="cmbSemestre"
                                        ng-options="s.Id as s.semestre for s in Semestre">
                                    >
                                    <option value="" selected="selected" disabled="disabled">{{Id || 'Semestre'}}</option>
                                </select>
                                <span ng-class="error" ng-show="AdiconarUsuarioForm.cmbSemestre.$error.required">Semestre é obrigatório</span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnSalvar"
                                data-dismiss="modal" ng-click="cadastrarUsuario()">
                            Resgistrar
                        </button>
                    </div>
                </div>
            </div>


        </div>
    @* Fim Modal cadastro de usuario*@

    @Scripts.Render("~/bundles/angular")

        <script src="~/Scripts/angular-animate.js"></script>
        <script src="~/Scripts/angular-flash.js"></script>
        <script src="~/Scripts/angular-mocks.js"></script>
        <script src="~/Scripts/angular-router.js"></script>
        <script src="~/App/fileUploader.js"></script>
        <!-- Back to Top Start -->
        <a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
        <!-- Back to Top End -->
        <!-- All Javascript Plugins  -->
        @Scripts.Render("~/bundles/js")
        <script src="~/App/Services/entity.js"></script>
        @RenderSection("scripts", required: false)
        <script src="~/signalr/hubs"></script>




    </div>

</body>
</html>